@font-face {
    font-family: 'Regular';
    src: url('../font/CongratsScript.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('../font/SFBalloons.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('../font/KRBirthdayLetters.ttf');
}

.mainMenu {
 -fx-background-color: rgba(88,88,88,0.2);
 -fx-border-radius: 20px;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.mainTitleSettings {
    -fx-font-size:30px;
    -fx-padding: 10 10 0 10;
}
.submainTitleSettings {
    -fx-font-size:15px;
    -fx-padding: 15 0 0 15;
}

.settingLabel {
    -fx-font-size:12px;
    -fx-padding: 10 0 10 15;
}

.boxSettingChoiceStop {
    -fx-padding: 0 0 15 25;
}

.settingButton {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
}